# Example of dotenv 
# Instalations, Packages
# postgres DB
# sudo apt install postgresql postgresql-contrib
# Goose Migration
# go install github.com/pressly/goose/v3/cmd/goose@latest
# SQLC ORM wannabe, SQL to GO code
# go install github.com/sqlc-dev/sqlc/cmd/sqlc@latest
## google uuid
## go get github.com/google/uuid
## postgresql driver
## go get github.com/lib/pq
## dotenv 
## go get github.com/joho/godotenv

DB_URL=<connection_string>
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=<connection_string>
GOOSE_MIGRATION_DIR=./sql/schema